<section class="jumbotron text-center">
  <h1><%= gettext "Welcome to %{name}", name: "SpO2" %></h1>
  <h3>Monitor your health through a wearable device that records your heart rate, oxygen saturation, and more.</h3>
  <%= link "Get Started", to: Routes.dashboard_path(@conn, :index), class: "btn btn-outline-primary btn-lg"%>
</section>
