<section class="jumbotron text-center">
  <h1><%= gettext "Welcome to %{name}", name: "SpO2" %></h1>
  <%= link "Get Started", to: Routes.dashboard_path(@conn, :index), class: "btn btn-outline-primary"%>
</section>
