<h1>SpO2 Graph</h1>

<div id="messages"></div>

<div class="container">
	<div class="row">
		<div class="column">
			<canvas id="spo2-graph" width="400" height="400"></canvas>
		</div>
		<div class="column">
			<canvas id="hr-graph" width="400" height="400"></canvas>
		</div>
	</div>
</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/graph.js") %>"></script>
